<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario-profesor</title>
</head>

<body>
    {% extends "AppCoder/padre.html" %}

    {% load static %}

    {% block contenidoQueCmabia %}
    <section>
        <h1>Agregar profesor:</h1>

        {% if miFormulario.errors %}
            <p style="color: red;" >Están mal los datos, revisar.</p>
        {%endif%}

        <form action="formulario-profesor" method="post">

            <!-- Acá está la magia de Django con los forms -->
            {% csrf_token %} <!--token de autorizacion de Django --> 
            <table>
                {{ miFormulario.as_table }}
            </table>
            <input type="submit" value="Enviar">

        </form>
    </section>
    {% endblock %}
</body>

</html>